.form__fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  display: flex;
  flex-direction: column;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;

  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin: 0;
  padding: 0;
}

.form__label:nth-of-type(1) {
  margin-bottom: 32px; /* Nombre */
}

.form__label:nth-of-type(2) {
  margin-bottom: 60px; /* Número de comensales */
}

.form__label:nth-of-type(3) {
  margin-bottom: 20px; /* Fecha y hora */
}

.form__label:nth-of-type(4) {
  margin-bottom: 32px; /* Email */
}

/* Inputs */
.form__input {
  display: block;
  max-width: 385px;
  padding: 12px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  background-color: #f9f9f9;
  color: #333;
  transition: all 0.3s ease;
}

.form__input::placeholder {
  color: #999;
}

.form__input:focus {
  outline: none;
  border-color: #4285f4;
  background-color: #fff;
}

/* Botón */
.form__button {
  width: 100%;
  padding: 15px;
  margin-bottom: 32px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}

.form__button:hover {
  background-color: #3367d6;
}

/* Checkbox */
.form__label_type_checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  color: #000;
  text-decoration: underline;
  cursor: pointer;
  margin: 12px 0 0 0;
}

.form__checkbox {
  margin: 0 8px 0 0;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
