.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px 0 30px;
  margin-bottom: 183px;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__links li {
  margin: 0;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  transition: color 0.3s ease;
  white-space: nowrap;
  position: relative;
  margin-right: 30px;
}

.nav__link:hover {
  color: #2f80ed;
}
