.reservation {
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #d9e7ff;
  padding: 100px 20px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__title {
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  font-style: normal;
  color: #333;
  text-align: center;
  padding: 8px 32px;
  margin: 0 auto 80px auto;
  background-color: transparent;
}

.reservation__form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 60px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 385px;
  width: 100%;
  box-sizing: border-box;
}
